In [5]:
import pandas as pd

In [6]:
df=pd.read_csv ("loan_data.csv")

In [7]:
df.head()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5639.958333,28854,52.1,0,0,0,0
1,1,credit_card,0.1071,228.22,11.082143,14.29,707,2760.000000,33623,76.7,0,0,0,0
2,1,debt_consolidation,0.1357,366.86,10.373491,11.63,682,4710.000000,3511,25.6,1,0,0,0
3,1,debt_consolidation,0.1008,162.34,11.350407,8.10,712,2699.958333,33667,73.2,1,0,0,0
4,1,credit_card,0.1426,102.92,11.299732,14.97,667,4066.000000,4740,39.5,0,1,0,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9578 entries, 0 to 9577
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   credit.policy      9578 non-null   int64
 1   purpose            9578 non-null   object
 2   int.rate           9578 non-null   float64
 3   installment        9578 non-null   float64
 4   log.annual.inc     9578 non-null   float64
 5   dti                9578 non-null   float64
 6   fico               9578 non-null   int64
 7   days.with.cr.line  9578 non-null   float64
 8   revol.bal          9578 non-null   int64
 9   revol.util         9578 non-null   float64
 10  inq.last.6mths     9578 non-null   int64
 11  delinq.2yrs        9578 non-null   int64
 12  pub.rec            9578 non-null   int64
 13  not.fully.paid     9578 non-null   int64
dtypes: float64(6), int64(7), object(1)
memory usage: 1.0+ MB

In [9]:
df.isna().sum()

credit.policy        0
purpose              0
int.rate             0
installment          0
log.annual.inc       0
dti                  0
fico                 0
days.with.cr.line    0
revol.bal            0
revol.util           0
inq.last.6mths       0
delinq.2yrs          0
pub.rec              0
not.fully.paid       0
dtype: int64

In [10]:
df.describe()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
count,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000,9.578000e+03,9578.000000,9578.000000,9578.000000,9578.000000,9578.000000
mean,0.804970,0.122640,319.089413,10.932117,12.606679,710.846314,4560.767197,1.691396e+04,46.799236,1.577469,0.163708,0.062122,0.160054
std,0.396245,0.026847,207.071301,0.614813,6.883970,37.970537,2496.930377,3.375619e+04,29.014417,2.200245,0.546215,0.262126,0.366676
min,0.000000,0.060000,15.670000,7.547502,0.000000,612.000000,178.958333,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.103900,163.770000,10.558414,7.212500,682.000000,2820.000000,3.187000e+03,22.600000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.122100,268.950000,10.928884,12.665000,707.000000,4139.958333,8.596000e+03,46.300000,1.000000,0.000000,0.000000,0.000000
75%,1.000000,0.140700,432.762500,11.291293,17.950000,737.000000,5730.000000,1.824950e+04,70.900000,2.000000,0.000000,0.000000,0.000000
max,1.000000,0.216400,940.140000,14.528354,29.960000,827.000000,17639.958330,1.207359e+06,119.000000,33.000000,13.000000,5.000000,1.000000

In [11]:
df.count()

credit.policy        9578
purpose              9578
int.rate             9578
installment          9578
log.annual.inc       9578
dti                  9578
fico                 9578
days.with.cr.line    9578
revol.bal            9578
revol.util           9578
inq.last.6mths       9578
delinq.2yrs          9578
pub.rec              9578
not.fully.paid       9578
dtype: int64

# 1-what is the most number repeated in the installment?

In [14]:
df["installment"].value_counts()

317.72    41
316.11    34
319.47    29
381.26    27
662.68    27
          ..
97.53      1
76.26      1
150.84     1
158.99     1
853.43     1
Name: installment, Length: 4788, dtype: int64

# 2-what is the maximum of installment?

In [15]:
x=df["installment"].max()

# 3-what  is the minimum of installment?

In [11]:
df["installment"].min()

15.67

# 4-what is the largest 5 of installment?

In [9]:
df["installment"].nlargest()

9281    940.14
9288    926.83
9309    926.83
9524    922.42
5479    918.02
Name: installment, dtype: float64

# 5-what is the smallest 5 of installment?

In [12]:
df["installment"].nsmallest()

8438    15.67
197     15.69
8549    15.75
7846    15.76
7897    15.91
Name: installment, dtype: float64

# 6-what is the average of intallement?

In [40]:
df["installment"].mean()

319.08941323867197

# 7-what is the most repeated in int.rate?

In [41]:
df["int.rate"].value_counts()

0.1253    354
0.0894    299
0.1183    243
0.1218    215
0.0963    210
         ...
0.2016      1
0.1683      1
0.1778      1
0.1756      1
0.1867      1
Name: int.rate, Length: 249, dtype: int64

# 8-what is the largest 5 in int.rate?

In [16]:
df["int.rate"].nlargest()

9549    0.2164
9566    0.2164
5679    0.2121
5868    0.2121
6202    0.2121
Name: int.rate, dtype: float64

# 9-  what is the samallest 5 in int.rate?

In [17]:
df["int.rate"].nsmallest()

453     0.06
1031    0.06
1400    0.06
1796    0.06
2738    0.06
Name: int.rate, dtype: float64

# 10-what is the mean of int.rate?

In [28]:
df["int.rate"].mean()

0.12264006055543955

# 11-what  is the most repeated in log.annual.inc?

In [18]:
df["log.annual.inc"].value_counts()

11.002100    308
10.819778    248
10.308953    224
10.596635    224
10.714418    221
            ...
11.217534      1
12.078239      1
10.068451      1
9.621788       1
10.110472      1
Name: log.annual.inc, Length: 1987, dtype: int64

# 12-what is largest 5  in log.annual.inc?

In [19]:
df["log.annual.inc"].nlargest()

653     14.528354
5791    14.180154
5493    14.124465
6371    13.997832
5499    13.710150
Name: log.annual.inc, dtype: float64

# 13-what  is smallest 5 log.annual.inc?

In [23]:
df["log.annual.inc"].nsmallest()

7822    7.547502
7897    7.600902
8438    8.101678
8171    8.160518
8352    8.188689
Name: log.annual.inc, dtype: float64

# 14-what is the average of log.annual.inc?

In [29]:
df["log.annual.inc"].mean()

10.93211713780027

In [20]:
df["int.rate"].mean()

0.12264006055543955

In [21]:
df["installment"].mean()

319.08941323867197

In [22]:
df["dti"].mean()

12.60667884735853

In [23]:
df["fico"].mean()

710.8463144706619

In [24]:
df["days.with.cr.line"].mean()

4560.767196529213

In [25]:
df["revol.bal"].mean()

16913.963875548132

In [26]:
df["revol.util"].mean()

46.79923574859052

In [27]:
df["inq.last.6mths"].mean()

1.5774692002505741

In [28]:
df["delinq.2yrs"].mean()

0.1637084986427229

In [29]:
df["pub.rec"].mean()

0.06212152850281896

In [30]:
df["not.fully.paid"].mean()

0.16005429108373356

In [27]:
df.corr()

C:\Users\mm748\AppData\Local\Temp\ipykernel_10380\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,credit.policy,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
credit.policy,1.000000,-0.294089,0.058770,0.034906,-0.090901,0.348319,0.099026,-0.187518,-0.104095,-0.535511,-0.076318,-0.054243,-0.158119
int.rate,-0.294089,1.000000,0.276140,0.056383,0.220006,-0.714821,-0.124022,0.092527,0.464837,0.202780,0.156079,0.098162,0.159552
installment,0.058770,0.276140,1.000000,0.448102,0.050202,0.086039,0.183297,0.233625,0.081356,-0.010419,-0.004368,-0.032760,0.049955
log.annual.inc,0.034906,0.056383,0.448102,1.000000,-0.054065,0.114576,0.336896,0.372140,0.054881,0.029171,0.029203,0.016506,-0.033439
dti,-0.090901,0.220006,0.050202,-0.054065,1.000000,-0.241191,0.060101,0.188748,0.337109,0.029189,-0.021792,0.006209,0.037362
fico,0.348319,-0.714821,0.086039,0.114576,-0.241191,1.000000,0.263880,-0.015553,-0.541289,-0.185293,-0.216340,-0.147592,-0.149666
days.with.cr.line,0.099026,-0.124022,0.183297,0.336896,0.060101,0.263880,1.000000,0.229344,-0.024239,-0.041736,0.081374,0.071826,-0.029237
revol.bal,-0.187518,0.092527,0.233625,0.372140,0.188748,-0.015553,0.229344,1.000000,0.203779,0.022394,-0.033243,-0.031010,0.053699
revol.util,-0.104095,0.464837,0.081356,0.054881,0.337109,-0.541289,-0.024239,0.203779,1.000000,-0.013880,-0.042740,0.066717,0.082088
inq.last.6mths,-0.535511,0.202780,-0.010419,0.029171,0.029189,-0.185293,-0.041736,0.022394,-0.013880,1.000000,0.021245,0.072673,0.149452
delinq.2yrs,-0.076318,0.156079,-0.004368,0.029203,-0.021792,-0.216340,0.081374,-0.033243,-0.042740,0.021245,1.000000,0.009184,0.008881
pub.rec,-0.054243,0.098162,-0.032760,0.016506,0.006209,-0.147592,0.071826,-0.031010,0.066717,0.072673,0.009184,1.000000,0.048634
not.fully.paid,-0.158119,0.159552,0.049955,-0.033439,0.037362,-0.149666,-0.029237,0.053699,0.082088,0.149452,0.008881,0.048634,1.000000

In [19]:
df.mode()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1253,317.72,11.0021,0.0,687,3660.0,0,0.0,0,0,0,0

In [34]:
df["installment"].abs()

0       829.10
1       228.22
2       366.86
3       162.34
4       102.92
         ...
9573    344.76
9574    257.70
9575     97.81
9576    351.58
9577    853.43
Name: installment, Length: 9578, dtype: float64

# 15- what is the sum of revol.util?

In [35]:
df["revol.util"].sum()

448243.07999999996

# 16-what is the sum of revol.bal?

In [36]:
df["revol.bal"].sum()

162001946

In [42]:
 df.cumsum()

,credit.policy,purpose,int.rate,installment,log.annual.inc,dti,fico,days.with.cr.line,revol.bal,revol.util,inq.last.6mths,delinq.2yrs,pub.rec,not.fully.paid
0,1,debt_consolidation,0.1189,829.10,11.350407,19.48,737,5.639958e+03,28854,52.10,0,0,0,0
1,2,debt_consolidationcredit_card,0.2260,1057.32,22.432549,33.77,1444,8.399958e+03,62477,128.80,0,0,0,0
2,3,debt_consolidationcredit_carddebt_consolidation,0.3617,1424.18,32.806040,45.40,2126,1.310996e+04,65988,154.40,1,0,0,0
3,4,debt_consolidationcredit_carddebt_consolidatio...,0.4625,1586.52,44.156447,53.50,2838,1.580992e+04,99655,227.60,2,0,0,0
4,5,debt_consolidationcredit_carddebt_consolidatio...,0.6051,1689.44,55.456179,68.47,3505,1.987592e+04,104395,267.10,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9573,7710,debt_consolidationcredit_carddebt_consolidatio...,1174.1149,3054677.88,104663.995207,120698.01,6805653,4.366866e+07,161953847,448098.88,15085,1568,595,1529
9574,7710,debt_consolidationcredit_carddebt_consolidatio...,1174.2402,3054935.58,104675.137069,120698.22,6806375,4.367304e+07,161954031,448099.98,15090,1568,595,1530
9575,7710,debt_consolidationcredit_carddebt_consolidatio...,1174.3473,3055033.39,104685.733703,120711.31,6807062,4.367649e+07,161964067,448182.88,15098,1568,595,1531
9576,7710,debt_consolidationcredit_carddebt_consolidatio...,1174.5073,3055384.97,104696.553482,120730.49,6807754,4.367829e+07,161964067,448186.08,15103,1568,595,1532
9577,7710,debt_consolidationcredit_carddebt_consolidatio...,1174.6465,3056238.40,104707.817946,120746.77,6808486,4.368303e+07,162001946,448243.08,15109,1568,595,1533